.profile {
    height: calc(100vh - 60px);
    overflow-y: scroll;

    .title {
        display: grid;
        align-items: center;
        justify-content: start;
        grid-template-columns: 20px auto;
        grid-gap: 0.8em;
        margin: 10px 0;
        p {
            margin: 0;
            font-weight: bold;
        }
        mat-icon {
            cursor: pointer;
        }
    }
}
.analyt {
    padding: 10px;
    margin: 10px auto;
}
.tab-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button,
    p {
        margin: 0;
        outline: none;
    }
    p {
        color: var(--primary);
        font-size: 16px;
        font-weight: bold;
    }
}
.f-group {
    input,
    label,
    textarea,
    select,
    mat-icon {
        color: #000000;
    }

    .fill-label {
        background: #d4d3d3;
    }
}

.button-form {
    p {
        color: #000000;
        margin: 5px 0;
        font-size: 12px;
        margin-left: 8px;
    }
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 0.3em;
        button {
            padding: 4px !important;
            font-size: 14px !important;
            background: #ffffff;
            border: none;
            border-radius: 7px;
            outline: none;
            cursor: pointer;
        }
    }
    .active {
        background: var(--primary) !important;
        color: #ffffff;
    }
}
.row-analyt {
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    // grid-template-rows: auto;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    grid-auto-rows: start;
    .duo-col {
        // width: 100%;
        // height: 100%;
        // position: relative;
        // // display: inline-block;
        // -webkit-column-break-inside: avoid;
        // -moz-column-break-inside: avoid;
        // column-break-inside: avoid;
    }
}
