<div class="container profile">
    <div class="analyt">
        <div class="title">
            <mat-icon (click)="back()">keyboard_backspace</mat-icon>
            <p>Edit Profile</p>
        </div>
    </div>
    <div class="row-analyt">
        <div class="duo-col">
            <app-basic-info></app-basic-info>
        </div>
        <div class="duo-col">
            <app-self-info></app-self-info>
        </div>
        <div class="duo-col">
            <app-proffessional-info></app-proffessional-info>
        </div>
        <div class="duo-col">
            <app-family-info></app-family-info>
        </div>
        <div class="duo-col">
            <app-other-info></app-other-info>
        </div>
    </div>
</div>