<div class="login" [@fadeIn]="'in'">
    <h1 class="title">
        Register
    </h1>
    <form (ngSubmit)="submit()" [formGroup]="loginForm">
        <div class="f-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" [class.error]="f.name.invalid && f.name.touched">
        </div>
        <div class="f-group">
            <label for="phone">Mobile</label>
            <input formControlName="phone" type="tel" id="phone" [class.error]="f.phone.invalid && f.phone.touched">
        </div>
        <div class="f-group">
            <label for="email">Email</label>
            <input formControlName="email" type="email" name="email" id="email"
                [class.error]="f.email.invalid && f.email.touched">
        </div>

        <div class="created-by">
            <hr>
            <p>Profile Created By</p>
            <input class="d-none" formControlName="createdBy" type="checkbox" value="self" #createdBy>
            <div class="items">
                <button type="button" [class.active]="f.createdBy.value==='self'"
                    (click)="selectCreatedBy('self')">Self</button>
                <button type="button" [class.active]="f.createdBy.value==='parent'"
                    (click)="selectCreatedBy('parent')">Parent</button>
                <button type="button" [class.active]="f.createdBy.value==='relative'"
                    (click)="selectCreatedBy('relative')">Relative</button>
                <button type="button" [class.active]="f.createdBy.value==='friend'"
                    (click)="selectCreatedBy('friend')">Friend</button>
            </div>
            <hr>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="dha" (click)="openLogin()">Already Have Account? <span>Login</span></div>
</div>