<div class="container-fluid">
    <div class="container profile">
        <div class="analyt">
            <div class="title">My Profile</div>
            <img class="profile-img" src="../../../../assets/images/img/dummy-profile.png" alt="" srcset="">
            <div class="id">HSNA123</div>
            <div class="name">Hari hara kumar</div>
            <div class="customer-detail">
                <mat-icon>call</mat-icon>
                <p> +918429524623</p>
            </div>

        </div>
    </div>
</div>