.container-fluid {
    background: url(../../../../assets/images/background/wedding-hand-bg.webp);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-color: var(--primary);
}
