<div class="login" [@fadeIn]="'in'">
    <h1 class="title">
        Forgot Password
    </h1>
    <form (ngSubmit)="submit()" [formGroup]="forgotPassword">
        <div class="f-group">
            <label for="phone">Mobile</label>
            <input formControlName="phone" type="tel" id="phone" [class.error]="f.phone.invalid && f.phone.touched">
        </div>
        <button type="submit">Send OTP</button>
    </form>
    <div class="dha" (click)="openLogin()"> Remember Password? <span>Login</span></div>
</div>