.auth {
    background: url(../../assets/images/background/login-bg.jpg);
    background-position: top right;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
