.login {
    width: 320px;
    padding: 10px 16px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(144 90 97);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    .title {
        text-align: center;
        color: #ffffff;
    }

    button {
        width: 100%;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid #ffffff;
        outline: none;
        cursor: pointer;
        box-shadow: 0 8px 12px 0 rgb(144 121 124);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }
    .forgot {
        color: #ffffff;
        width: 100%;
        padding: 10px;
        text-align: end;
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.dha {
    color: #ffffff;
    cursor: pointer;
    &:hover {
        span {
            text-decoration: underline;
        }
    }
}
