.search-btn {
    display: block;
    background: var(--primary);
}
.cancel-btn {
    display: block;
    background: #000;
}
.action {
    button {
        margin: 0 5px;
        outline: none;
        border: none;
        padding: 7px 15px;
        border-radius: 10px;
        color: #ffffff;
    }
}

.f-group {
    label {
        color: var(--primary);
        z-index: 1;
        margin-left: 11px;
    }
    input,
    select,
    textarea {
        color: #000000;
    }
}
.assembled {
    span {
        padding: 10px;
    }
}
.select-guard {
    width: 100%;
    cursor: pointer;
}
