<div class="container profile">
    <div class="analyt">
        <div class="title">My Profile</div>
        <img class="profile-img" src="../../../../assets/images/img/dummy-profile.png" alt="" srcset="">
        <div class="id">HSNA123</div>
        <div class="name">Hari hara kumar</div>

        <div class="last-update">Last Update on 1<sup>st</sup> Dec 2020</div>

        <div class="customer-detail">
            <mat-icon>call</mat-icon>
            <p> +918429524623</p>
        </div>
        <div class="customer-detail">
            <mat-icon>alternate_email</mat-icon>
            <p>hari@gmail.com</p>
        </div>
        <div class="customer-detail  c-p" routerLink="/layout/profile/edit">
            <mat-icon>person</mat-icon>
            <p> Edit Profile</p>
            <mat-icon>edit</mat-icon>
        </div>
        <div class="customer-detail  c-p" routerLink="/layout/profile/edit-partner">
            <mat-icon>people_alt</mat-icon>
            <p>Edit Partner Preference</p>
            <mat-icon>edit</mat-icon>
        </div>
        <div class="customer-detail  c-p" routerLink="/layout/profile/change-password">
            <mat-icon>lock_open</mat-icon>
            <p>Change Password</p>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="customer-detail  c-p" routerLink="/auth">
            <mat-icon>login</mat-icon>
            <p> Logout</p>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="version">Happy Life Matrimony - {{currenVersion}}</div>
    </div>
</div>