<div mat-dialog-title class="toolbar">

    <div class="title-area">
        <p>{{data.title}}</p>
        <button type="button" autofocus="false" (click)="closeDialog('')" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <input class="search" #search autofocus (input)="filterData($event)" type="text" placeholder="Search Here">

</div>

<mat-dialog-content class="mat-typography">
    <div class="list">
        <div class="item" *ngFor="let item of list; let i=index" [class.selected]="item.selected"
            (click)="selectItem(item.id,i)">
            {{item.name}}
        </div>
        <div class="no-data" *ngIf="list.length===0">
            <img src="../../../../assets/images/img/empty.png" alt="no data" srcset="">
            <p>No Data Found</p>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button (click)="submitSelected()">Select</button>
</mat-dialog-actions>