.profile {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    .analyt {
        padding: 10px;
        max-width: 600px;
        margin: 10px auto;
    }
    .title {
        display: grid;
        align-items: center;
        justify-content: start;
        grid-template-columns: 20px auto;
        grid-gap: 0.8em;
        margin: 10px 0;
        p {
            margin: 0;
            font-weight: bold;
        }
        mat-icon {
            cursor: pointer;
        }
    }
    .f-group {
        input,
        label,
        mat-icon {
            color: #000000;
        }
    }
    .submit-btn {
        width: 100%;
        color: #ffffff;
        background: var(--primary);
        border: 1px solid var(--primary);
        outline: none;
        cursor: pointer;
        box-shadow: 0 8px 12px 0 rgb(144 121 124);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
    }
}
