<div class="container profile">
    <div class="analyt">
        <div class="title">
            <mat-icon (click)="back()">keyboard_backspace</mat-icon>
            <p>Change Password</p>
        </div>
        <form (ngSubmit)="submit()" [formGroup]="changePasswordForm">
            <div class="f-group">
                <label for="currentPassword">Old Password</label>
                <input formControlName="currentPassword" type="password" id="currentPassword"
                    [class.error]="f.currentPassword.invalid && f.currentPassword.touched">
            </div>
            <div class="f-group">
                <label for="newPassword">New Password</label>
                <input formControlName="newPassword" type="password" name="newPassword" id="newPassword"
                    [class.error]="f.newPassword.invalid && f.newPassword.touched">
            </div>
            <div class="f-group">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword"
                    [class.error]="f.confirmPassword.invalid && f.confirmPassword.touched">
            </div>
            <button type="submit" class="submit-btn" [disabled]="loading">
                <span *ngIf="!loading">Submit</span>
                <img class="loader" *ngIf="loading" src="../../../../assets/images/loader/loader-white.gif" alt=""
                    srcset="">
            </button>
        </form>

    </div>
</div>