<div class="container profile">
    <div class="analyt">
        <div class="title">
            <mat-icon (click)="back()">keyboard_backspace</mat-icon>
            <p>Change Password</p>
        </div>
        <form (ngSubmit)="submit()" [formGroup]="changePasswordForm">

            <div class="f-group">
                <label for="password"> Password</label>
                <input formControlName="password" type="password" name="password" id="password"
                    [class.error]="f.password.invalid && f.password.touched">
            </div>
            <button type="submit" class="submit-btn" [disabled]="loading">
                <span *ngIf="!loading">Submit</span>
                <img class="loader" *ngIf="loading" src="../../../../assets/images/loader/loader-white.gif" alt=""
                    srcset="">
            </button>
        </form>

    </div>
</div>