.layout {
    nav {
        height: 60px;
        position: fixed;
        width: 100%;
        background: var(--primary);
        z-index: 1;
        .menu {
            width: 100%;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    padding: 10px;
                    cursor: pointer;
                    color: #ffffff;
                    font-weight: bold;
                    outline: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .current {
                    text-decoration: underline;
                }
            }
            .app-icon {
                outline: none;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 2px solid rgba(255, 255, 255, 0.6);
                    background: rgba(255, 255, 255, 0.6);
                    backdrop-filter: blur(4px);
                    background-clip: padding-box;
                    object-fit: cover;
                }
            }
        }
    }
    .content {
        padding-top: 60px;
        height: 100%;
        overflow: hidden;
    }
}
.menu-btn {
    outline: none;
    color: #ffffff;
}
.mobile-menu {
    width: calc(100vw - 60px);
    height: 100vh;
    background: var(--primary);
    .app-icon {
        height: 120px;
        border-bottom: 1px solid #eee;
        display: grid;
        align-items: center;
        justify-content: center;
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(4px);
            background-clip: padding-box;
            object-fit: cover;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            padding: 10px;
            cursor: pointer;
            outline: none;
            color: #ffffff;
            font-weight: bold;
            border-bottom: 1px solid #eee;
        }
        .current {
            background: #fff;
            color: var(--primary);
        }
    }
}
