.interest {
    height: calc(100vh - 60px);
    background: #ffffff;
    overflow-y: scroll;
    padding: 10px;
    .customer-card {
        padding: 10px 14px;
        margin: 15px 0;
        background: #eaeaea;
        box-shadow: 0 8px 32px 0 rgb(255 255 255 / 37%) !important;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: #aaaaaa;
            transform: scale(1.05);
        }
        .id {
            color: var(--primary);
            margin: 10px 0;
            font-size: 13px;
        }
        .name {
            font-size: 17px;
            color: #444444;
        }
        .details {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #444444;
        }
        .occupation {
            font-size: 16px;
            color: #444444;
        }

        .profile-pic {
            height: 60px;
            width: 60px;
        }
    }
}
