<div class="interest container">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let item of matches">
            <div class="customer-card analyt" [routerLink]="'/layout/partner/'+item.id">
                <div class="datas">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <p class="id">{{item.matrimonyId}}</p>
                            <h3 class="name">{{item.name}}</h3>
                        </div>
                        <img class="profile-pic" [src]="item.image" alt="profile image"
                            onerror="this.src='../../../../assets/images/img/dummy-profile.png';">
                    </div>
                    <h4 class="details">{{item.age}}yrs/{{item.height}}cm, {{item.location}}</h4>
                    <h2 class="occupation">{{item.occupation}}</h2>
                </div>

                <div class="actions">
                    <button class="interest-btn" (click)="$event.stopPropogation()">Interest</button>
                    <button class="sortlist-btn" (click)="$event.stopPropogation()">Sortlist</button>
                </div>
            </div>
        </div>
    </div>
</div>