.interest {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    padding: 10px;
    .customer-card {
        margin: 15px 7px 5px 7px;
        background: linear-gradient(10deg, #ebc9c5, #f5cee3, #d8c5de);
        box-shadow: 0 8px 32px 0 rgb(255 255 255 / 37%) !important;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: linear-gradient(40deg, #ebc9c5, #f5cee3, #d8c5de);
        }
        .datas {
            padding: 10px 14px;
        }
        .id {
            color: var(--primary);
            margin: 10px 0;
            font-size: 13px;
        }
        .name {
            font-size: 17px;
            color: #444444;
        }
        .details {
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #444444;
        }
        .occupation {
            font-size: 16px;
            color: #444444;
        }

        .profile-pic {
            height: 60px;
            width: 60px;
        }
        .actions {
            button {
                width: 50%;
                border: none;
                padding: 5px;
            }
            .interest-btn {
                border-bottom-left-radius: 10px;
            }
            .sortlist {
                border-bottom-right-radius: 10px;
            }
        }
    }
}
