<div class="container-fluid dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-card analyt">
                    <img #profileImage src="{{details.imagePath+'/'+details.profileImage}}"
                        onerror="this.src='../../../../assets/images/img/dummy-profile.png';" alt="Profile Image"
                        class="profile-img">
                    <h3>{{details.Name}}</h3>
                    <h4>
                        {{details.aboutMe}}
                    </h4>
                    <hr>
                    <p class="success">100% Profile completed</p>
                    <button class="update" routerLink="/layout/profile">Update</button>
                </div>

                <div class="my-plan analyt d-none d-md-block">
                    <h3>My Current Plan</h3>
                    <img src="../../../../assets/images/icons/rocket.png" alt="" srcset="">
                    <div class="type basic">Basic</div>
                    <button class="upgrade">Upgrade</button>
                </div>

                <div class="my-plan analyt d-none d-md-block">
                    <h3>Customer Care 24x7</h3>
                    <img src="../../../../assets/images/icons/customer-support.png" alt="" srcset="">
                    <div class="type">+91 8765432129</div>
                    <button class="upgrade">Call</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="backlog analyt">
                    <h1 class="app-name">Happy Life Matrimony</h1>
                    <h1 class="title">The World's No.1 Matrimony Service</h1>
                    <h2 class="sub-title">Trusted by Millions</h2>

                    <div class="search-area">
                        <input placeholder="Search By Partner Id" type="text" class="search">
                        <button>Search</button>
                    </div>
                    <div class="or">
                        <hr>
                        <span>OR</span>
                        <hr>
                    </div>
                    <button class="advance-search" (click)="openAdvanceSearch()">
                        Advance Search
                    </button>

                </div>

                <div class="backlog analyt">
                    <div class="row  align-items-center">
                        <!-- <div class="col-4 count green">300</div>
                        <div class="col-8 key-name"> New Match</div> -->
                        <div class="message">
                            <p>
                                Matches will show after completing profile setup.
                            </p>
                            <button>Update</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row  align-items-center">
                        <div class="col-4 count green">300</div>
                        <div class="col-8 key-name"> New Profile</div>
                    </div>
                    <hr>
                    <div class="row  align-items-center">
                        <div class="col-4 count blue">230</div>
                        <div class="col-8 key-name"> Viewed Your Profile</div>
                    </div>
                    <hr>
                    <div class="row  align-items-center">
                        <div class="col-4 count teal">110</div>
                        <div class="col-8 key-name"> Sortlisted</div>
                    </div>
                    <hr>
                    <div class="row  align-items-center">
                        <div class="col-4 count orange">290</div>
                        <div class="col-8 key-name"> Interested on you</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="analyt suggesions">
                    <div class="title">
                        <span>New Members Profile</span>
                        <hr>
                    </div>
                    <div class="list">
                        <div class="customer-card" *ngFor="let item of [1,2,3,4,5]">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    <p class="id">HL31756</p>
                                    <h3 class="name">Subash</h3>
                                </div>
                                <img class="profile-pic" src="../../../../assets/images/img/dummy-profile.png" alt=""
                                    srcset="">
                            </div>
                            <h4 class="details">22yrs/152cm, Chennai,Chennai, Tamilnadu</h4>
                            <h2 class="occupation">Admin/ B.Tech</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>