.dashboard {
    background: url(../../../../assets/images/background/dashboard-bg.webp);
    height: calc(100vh - 60px);
    backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-color: var(--primary);
    padding: 10px !important;
    overflow-y: scroll;

    .profile-card {
        width: 100%;
        // min-height: 180px;
        padding: 10px;
        .profile-img {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
            border: 2px solid var(--primary);
            background: #ffffff;
            object-fit: cover;
        }
        h3,
        h4,
        p {
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            font-size: 16px;
            margin-top: 10px;
        }
        h3 {
            font-weight: bold;
        }
        h4 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
            font-weight: bold;
            margin: 7px;
        }
        .success {
            color: rgb(0, 128, 0);
        }
        .update {
            padding: 6px 20px;
            margin: 0 auto;
            display: block;
            border: none;
            background: var(--primary);
            border-radius: 5px;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            outline: none;
        }
    }
    .my-plan {
        margin: 15px 0;
        padding: 10px;
        h3 {
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
        }

        img {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            display: block;
            object-fit: contain;
        }
        .type {
            padding: 6px 10px;
            text-align: center;
            margin: 10px 0;
            border-radius: 5px;
            font-weight: bold;
        }
        .basic {
            background: rgb(255 212 0);
            color: #5a5a5a;
        }
        .upgrade {
            padding: 6px 20px;
            margin: 0 auto;
            display: block;
            border: none;
            background: var(--primary);
            border-radius: 5px;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            outline: none;
        }
    }

    .backlog {
        padding: 10px;
        margin: 15px 0;

        &:first-child {
            margin: 0 !important;
        }
        .app-name {
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            color: var(--primary);
            margin: 10px 0 17px 0;
        }
        .title {
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            color: #5a5a5a;
        }
        .sub-title {
            font-size: 13px;
            text-align: center;
            font-weight: bold;
            color: var(--primary);
        }

        .search-area {
            position: relative;
            width: 100%;
            margin: 14px auto;
            input {
                width: 100%;
                padding: 10px 90px 10px 10px;
                font-size: 17px;
                border: 1px solid var(--primary);
                border-radius: 10px;
                outline: none;
            }
            button {
                position: absolute;
                right: 0;
                padding: 11px;
                font-size: 17px;
                border: none;
                outline: none;
                background: var(--primary);
                color: #ffffff;
                border-radius: 0 10px 10px 0;
            }
        }
        .or {
            width: 100%;
            text-align: center;
            margin: 11px 0;
            position: relative;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            grid-gap: 1em;
            span {
                font-size: 13px;
            }
        }
        .advance-search {
            padding: 11px;
            font-size: 16px;
            border: none;
            background: var(--primary);
            color: #ffffff;
            width: 100%;
            outline: none;
            border-radius: 10px;
        }
        .count {
            font-size: 33px;
            font-weight: bold;
            color: var(--primary);
            text-align: center;
        }

        .green {
            color: #016930;
        }
        .teal {
            color: #00bd89;
        }
        .orange {
            color: #a76706;
        }
        .blue {
            color: rgb(0, 69, 172);
        }
        .key-name {
            font-weight: bold;
            font-size: 16px;
            text-align: left;
        }
        .message {
            p {
                text-align: center;
                color: var(--primary);
                font-weight: bold;
                margin-top: 11px;
                font-size: 16px;
            }
            button {
                padding: 6px 20px;
                margin: 0 auto;
                display: block;
                border: none;
                background: var(--primary);
                border-radius: 5px;
                color: #ffffff;
                font-weight: bold;
                font-size: 13px;
                outline: none;
            }
        }
    }
}
