<div class="container plans">
    <div class="row h-100 align-items-center justify-content-between">
        <div class="col-12 col-md-4">
            <div class="card analyt subscription">
                <div class="title">Free</div>
                <img src="../../../../assets/images/icons/subscription.png" alt="" class="sub-img">
                <div class="price">
                    3000 INR
                </div>
                <hr>
                <p>Enjoy All these features</p>
                <ul>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        Upto 50 contacts
                    </li>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        For 120 days
                    </li>
                </ul>
                <button>Subscribe</button>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <div class="card  start analyt subscription">
                <div class="title">Start - up</div>
                <img src="../../../../assets/images/icons/subscription.png" alt="" class="sub-img">
                <div class="price">
                    3000 INR
                </div>
                <hr>
                <p>Enjoy All these features</p>
                <ul>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        Upto 50 contacts
                    </li>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        For 120 days
                    </li>
                </ul>

                <button>Subscribe</button>

            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card pro analyt subscription">
                <div class="title">Pro</div>
                <img src="../../../../assets/images/icons/subscription.png" alt="" class="sub-img">
                <div class="price">
                    3000 INR
                </div>
                <hr>
                <p>Enjoy All these features</p>
                <ul>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        Upto 50 contacts
                    </li>
                    <li>
                        <span class="material-icons">
                            check_circle
                        </span>
                        For 120 days
                    </li>
                </ul>
                <button>Subscribe</button>

            </div>

        </div>

    </div>

</div>