.partner {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background: #ffffff;
    padding: 20px !important;

    .profile-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: var(--primary);
        object-fit: contain;
        max-height: 200px;
    }
    .name {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 21px;
        color: #505050;
    }
    .other-detail {
        font-size: 14px;
        color: #3b3b3b;
        margin-bottom: 10px;
    }
    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.8em;
        button {
            border: 2px solid var(--primary);
            outline: none;
            border-radius: 5px;
            background: #da7e7e;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    .heading {
        color: var(--primary);
        margin: 5px 0;
        font-size: 15px;
        font-weight: bold;
    }
    .description {
        color: #313131;
        font-size: 15px;
    }
}
.analyt {
    box-shadow: 0 3px 10px 0 rgb(117 117 117 / 37%);
    padding: 5px 10px 10px 10px;
    font-size: 14px;
    line-height: 1.8;
}

.p10 {
    padding: 10px !important;
}
.col-5 {
    word-break: break-all;
}
.no-data {
    display: grid;
    align-items: center;
    width: 100%;
    position: relative;
    img {
        width: 100%;
        object-fit: contain;
        height: calc(100vh - 70px);
    }
    p {
        position: absolute;
        color: var(--primary);
        font-size: 2em;
        bottom: 0.3em;
        right: 0;
        left: 0;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
}
